fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
loguru
httpx==0.27.2
python-slugify==8.0.4
sqlalchemy
alembic
psycopg2-binary
requests
beautifulsoup4
numpy==2.1.2

# Dev/test/tools
pytest
pytest-asyncio
black==24.4.2
ruff
isort
mypy==1.10.0
pip-audit==2.7.2
bandit==1.7.7